h1{
	text-align: center;
}
/*IMAGES*/

.Park1 {
	width: auto;
	height: 220px;
	margin: 10px;
}

.Park2 {
	width: auto;
	height: 200px;
	margin: 10px;
}

.divBlock { 
    display: inline-flex ;
	width: 100% ;
}

.backgd1{
	background-color: #63B8FF;
	margin:5px;
}

.backgd2{
	background-color: #00CED1;	/*00CED1*/
	margin:5px;
}

body{
	background-color:#27408B
}	

.imgFloat {
	width: auto;
	height: 150px;
	float: left;
	margin:10px;
}

.imgNorm {
	width: auto;
	height: 150px;
	margin:10px;
}

p, h2, h3 {
	margin-left: 5px
}

.footer {
    position: absolute;
    bottom: 0;
}

a {
	color: #00eaff;
}

h2 {
	margin-top: 10px
}
